{deps, [
        {cowboy,          ".*", {git, "git://github.com/ninenines/cowboy",      {tag,"2.8.0"}}},
        {syn,             ".*", {git, "https://github.com/ostinelli/syn",       {tag, "2.1.1"}}},
        {n2o,             ".*", {git, "https://github.com/synrc/n2o",           {branch, "master"}}},
        {kvs,             ".*", {git, "https://github.com/synrc/kvs",           {tag, "7.9.1"}}},
        {nitro,           ".*", {git, "https://github.com/synrc/nitro",         {branch, "master"}}},
        {emqtt,           ".*", {git, "https://github.com/xio/emqtt",           {branch, "master"}}},
        {form,            ".*", {git, "https://github.com/synrc/form",          {branch, "master"}}},
        {frontend,        ".*", {git, "https://github.com/erpuno/frontend",     {branch, "master"}}}
       ]}.
{erl_opts, [debug_info]}.
