{deps, [
        {emqx, {git, "https://github.com/xio/emqx", {tag,"master"}}},
        {emqx_management, {git, "https://github.com/xio/emqx-management", {tag,"master"}}},
        {minirest, {git,"https://github.com/xio/minirest", {tag,"emqx30"}}},
        {clique, {git,"https://github.com/xio/clique", {tag,"master"}}},
        {cuttlefish, {git, "https://github.com/xio/cuttlefish", {tag, "develop"}}}
       ]}.
{erl_opts, [debug_info]}.
